.box {
  width: 300px;
  margin: 100px auto;
  background: pink;
  padding: 20px;
  border-radius: 10px;
  text-align: center;
}

input {
  width: 100%;
  padding: 10px;
  margin: 10px 0;
}

button {
  width: 100%;
  padding: 10px;
  background: deeppink;
  color: white;
  border: none;
}

.error {
  color: red;
}
